* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: Arial, "Noto Sans KR", sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

/* ////////////////////////////// */
/* Header */
/* ////////////////////////////// */

header {
  height: 62px;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
}

.logo {
  display: flex;
  gap: 3px;

  font-size: 22px;
  font-weight: bold;
}

.logo a:first-child {
  color: #182b7a;
}

.logo a:last-child {
  color: #00a8e8;
}

.navigoter-set {
  display: flex;
  gap: 28px;
}

.navigoter {
  font-size: 14px;
  font-weight: bold;
}

main {
  flex: 1;
}

/* ////////////////////////////// */
/* slogan  */
/* ////////////////////////////// */

.slogan {
  height: 270px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: #293896;
}

.slogan h1 {
  margin: 0 0 15px;
  font-size: 36px;
}

.slogan p {
  margin: 0;
  font-size: 15px;
}

/* //////////////////////////////
 Features 
///////////////////////////////// */

.card-set {
  display: flex;
  gap: 18px;

  padding: 72px 20px;
}

.card {
  flex: 1;

  padding: 40px 20px;

  text-align: center;

  background-color: white;
  border-radius: 12px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.card > p {
  margin: 0 0 20px;
  font-size: 32px;
}

.card h2 {
  margin: 0 0 15px;

  color: #293896;
  font-size: 17px;
}

.card span {
  line-height: 1.7;
  font-size: 14px;
}

/* ////////////////////////////// */
/* Footer */
/* ////////////////////////////// */

footer {
  height: 102px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: #333;
}

footer p {
  margin: 0;
  font-size: 13px;
}
