/* ================================
   리셋 및 전역 스타일
================================ */

:root {
  --sp-black: #121212;
  --sp-dark: #181818;
  --sp-gray: #282828;
  --sp-light: #b3b3b3;
  --sp-green: #1db954;
  --sp-white: #ffffff;

  --player-height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a {
  color: var(--sp-light);
  text-decoration: none;
}

/* ================================
   레이아웃
================================ */

.app-layout {
  height: calc(100vh - var(--player-height));
  overflow-y: auto;

  background-color: var(--sp-black);
  color: white;

  display: flex;
}

.sidebar {
  width: 240px;
  height: 100%;
}

.main-content {
  flex: 1;
  height: 100%;
}

.player {
  height: var(--player-height);
  width: 100%;
}

/* ================================
   컨포넌트
================================ */

/* nav */
.sidebar {
  background: var(--sp-black);
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.nav-item {
  display: block;
  margin: 20px 0;
  font-size: 14px;
}

.nav-item.active {
  font-weight: bold;
  color: var(--sp-white);
}

.player-list {
  border-top: 1px solid var(--sp-gray);
}

.player-list h3 {
  padding: 10px 0;
  font-size: 12px;
}

.playerlist-item {
  display: block;
  padding: 5px 0;
  font-size: 13px;
}

/* main */
.main-content {
  background: linear-gradient(var(--sp-black), var(--sp-dark));
  padding: 20px;
  overflow-x: hidden;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.album-card {
  width: 100%;
}

/* player */
.player {
  background: var(--sp-dark);
  border-top: 1px solid var(--sp-gray);
}

/* ================================
   반응형 처리
================================ */

@media (max-width: 1024px) {
  .album-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .album-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .album-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
